{% extends 'transaction/layout.html.twig' %}

{% block title 'Show Expense Header' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Transaction Date</th>
                <td>{{ expenseHeader.transactionDate|default ? expenseHeader.transactionDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ expenseHeader.note|default }}</td>
            </tr>
            <tr>
                <th>Total Amount</th>
                <td>{{ expenseHeader.totalAmount|default|number_format(2) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
