{% extends 'transaction/layout.html.twig' %}

{% block title 'Show Sale Receipt Detail' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Amount</th>
                <td>{{ saleReceiptDetail.amount|default|number_format(2) }}</td>
            </tr>
            <tr>
                <th>Memo</th>
                <td>{{ saleReceiptDetail.memo|default }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
