{% extends 'transaction/layout.html.twig' %}

{% block title 'Show Receive Header' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Transaction Date</th>
                <td>{{ receiveHeader.transactionDate|default ? receiveHeader.transactionDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ receiveHeader.reference|default }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ receiveHeader.note|default }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
