{% extends 'admin/staff/form.html.twig' %}

{% block title 'Edit Staff' %}

{% block content_username_password %}
    <div class="form-group">
        <label>Username</label>
        <div>{{ staff.username }}</div>
    </div>
{% endblock %}
